@font-face {
    font-family: DS Font;
    src: url(Fonts/Nintendo-DS-BIOS.ttf);
}
@font-face {
    font-family: SP Font;
    src: url(Fonts/southpark.ttf);
}
@font-face {
    font-family: Horizon Font;
    src: url(Fonts/Horizon-nMeM.ttf);
}
@font-face {
    font-family: Youtube Font;
    src: url(Fonts/Youtube/YouTubeSansDarkMedium.otf);
}
@font-face {
    font-family: Sabaton Font;
    src: url(Fonts/OldLondon/OldLondon.ttf);
}
@font-face {
    font-family: Rodin Pro;
    src: url(Fonts/Rodin-Pro.otf);
}

* {
  box-sizing:border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  border:solid, black, 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.a{
    background: linear-gradient(to left, #aa3624,#463f92);
    font-family: "Horizon Font";
    font-size: 32px;
    line-height: 35px;
}
.b{
    background: linear-gradient(to right, #00714b, #88d4e2);
    font-family: "SP Font";
    font-size: 40px;
    line-height: 35px;
}
.c{
    background: linear-gradient(to right, #dc008f, #bf0000);
    font-family: "Youtube Font";
    font-size: 26px;
}
.d{
    background: linear-gradient(to left, #2e3d41, #2d3d3d);
    font-family: "Sabaton Font";
    font-size: 34px;
    line-height: 30px;
}
p{
    text-align: center;
    color: white;
    font-family: "Rodin Pro";
}
li{
    color: white;
    font-family: "Rodin Pro";
}
h1{
    font-family: "DS Font";
    color: #00df00;
    font-size: 50px;
    padding-left: 3%;
    display: inline;
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
    text-align: left;
    font-family: "Rodin Pro";
}
body{
    background-color: black;
}
img {
  display: block;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 12.5%;
}
a{
    color: white;
    text-decoration: none;

}
.squareImg{
    border: inset, black, 10px;
}
.back{
    color: rgb(255, 83, 83);
}